<div class="body">
    <h2 class="text-center">Please give your valuable feedback</h2>
    <div class="col-md-6 offset-md-4">
  
  <form #formName="ngForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
        <label>Id</label>
        <input class="form-control" type="number" [(ngModel)]="feedback.id"  name="id" />
    </div> -->
    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="feedback.name" type="name"style="margin-top: 20px;" class="form-control" name="name" />
    </div>
    <div class="form-group">
        <label style="margin-top: 20px;">Feedback</label>
        <input [(ngModel)]="feedback.feedback" class="form-control" style="margin-top: 20px;" type="name" name="feedback" />
    </div>
    <div>
        <button type="submit" class="btn btn-secondary" style="margin-top: 20px;">Submit</button>
    </div>
  </form>
</div>
</div>
