
<nav>
    
        <a routerLink="feedback" routerLinkActive="active" class="nav-link" ><button class="btn btn-outline-success" type="button">Feedback List</button></a>
        <a routerLink="feedback-given" routerLinkActive="active" class="nav-link" ><button class="btn btn-outline-success" type="button">Give Feedback</button></a>
        <a routerLink="email" routerLinkActive="active" class="nav-link" ><button class="btn btn-outline-success" type="button">Email</button></a>
   
</nav>


<router-outlet></router-outlet>


